[2012-07-25 22:08] rekendahl opened #1 "zenburn colors seem off"
Zenburn colors are too dark. Can you update them?

Compare to picture here: http://slinky.imukuppi.org/zenburnpage/

and then the vim setup filehttp://slinky.imukuppi.org/zenburn/zenburn.vim

Hope that helps. Love the work you have put into these schemes

[2012-08-08 06:01] #1 closed, assigned to nobody

[2013-12-23 21:42] jaytaylor opened #6 "How do you create the previews?"
Hey @mbadolato, thanks for all your work on organizing these iTerm2 color schemes!

Can you share your method for creating PNG previews for a given theme?  I want to submit a pull request for some themes but I want to make sure to include all the required resources.

Thanks,
Jay

[2013-12-23 22:22] #6 closed, assigned to nobody

[2014-01-23 23:07] JamieMason opened #9 "import collection"
I have a collection of many I found online at https://github.com/JamieMason/All-iTerm-Colors. If there's any there you don't have - please feel free to take them.

[2014-09-19 09:29] atahrijouti opened #18 "Wrong Link to this page"
On the website http://iterm2colorschemes.com/ the link to Terminator blob is wrong

[2014-09-19 09:38] #18 closed, assigned to nobody

[2014-10-02 06:54] kanduvisla opened #20 "BirdsOfParadise is empty file"
The BirdsOfParadise `.itermcolors` file is empty. As in: zero bytes.

[2014-10-02 07:21] #20 closed, assigned to nobody

[2014-10-24 14:39] #9 closed, assigned to nobody

[2014-11-09 14:40] wernight opened #23 "Voting"
The collection is really good and presentation also good.

But it's very large too. A voting system would help.

Could also filter by: dark/bright background.

[2014-11-09 14:41] wernight opened #24 "Generic"
It works for iTerm2 but it could be made generic so that a generator build a version for... anything. Vim/Gnome-Terminal... It would probably simplify maintenance.

[2014-11-09 14:43] #24 closed, assigned to nobody

[2015-01-26 23:36] lasers opened #28 "Correct scheme names on the wiki"
Minor issue. Rename schemes to work along with the wiki --or-- Correct scheme names on the wiki. For instance, I'm looking at wiki and I see that I want to try Pencil Light / Pencil Dark (only to see that it's not working properly).

It turns out that I actually want to use PencilDark and PencilLight. I see that you have BirdsOfParadise (which is correct on wiki). You also have other schemes with

[2015-01-26 23:47] mbadolato commented on #28
Yeah could probably use a consistency check :)

[2015-02-24 03:04] bucaran opened #29 "Is there a similar `terminal-color-schemes` repo?"
The iTerm2 schemes are great, but I need to support Terminal.app as well.

Cheers.

[2015-02-24 04:22] mbadolato commented on #29
None that I know of, sorry!

[2015-02-24 04:22] #29 closed

[2015-02-24 04:26] bucaran commented on #29
Thanks anyway! :smile:

[2015-03-09 15:41] pandada8 opened #30 "https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/xrdb/Slate.xrdb"
this file is filled with wrong content by mistake

[2015-03-09 16:56] mbadolato commented on #30
In what regards? I just loaded the file from the repo and the colors look like the screenshot

[2015-03-09 17:19] pandada8 commented on #30
well i get this in the content

	On branch slate
	Untracked files:
	  (use "git add <file>..." to include in what will be committed)

		screenshots/slate.png
		slate.txt

	nothing added to commit but untracked files present (use "git add" to track)

i suppose that some wrong redirection happened while converting the colorscheme into the xrdb format :(

[2015-03-09 18:42] mbadolato commented on #30
Ahhh, sorry... Totally missed the fact that you specifically specified the xrdb file. This is what happens when I don't yet have my coffee. I was looking at the actual scheme file.

The xrdb file was one that was submitted to me (IIRC). I'll look into updating it.

Thanks!

[2015-03-09 19:57] #30 closed

[2015-03-25 23:00] Couto opened #31 "You said to ping"
Since you said to ping...

The Spacedust theme was originally ported by me to iTerm, and the original theme was done by @mhallendal who deserves all the credits.

You can find the repository here: https://github.com/mhallendal/spacedust-theme

[2015-03-25 23:08] mbadolato commented on #31
@Couto Does the scheme need to be updated/replaced or just the credits adjusted?

[2015-03-25 23:20] Couto commented on #31
I was referring to the note on the website, so I meant the credits.

However I tried the one on your repository and the colors don't match at all the screenshot provided (at least on my iterm) so it might also need an update, but I'll leave that up to you :)

Anyway heres a screenshot of how the spacedust theme on your repository looks like:

![https://cldup.com/y37VC372hu.png]()

(oh boy I come t

[2015-03-25 23:38] mbadolato commented on #31
Wow good catch on the definition file. not sure what happened there! Fixed, and adjusted the credits. Thanks!

[2015-03-25 23:38] #31 closed

[2015-04-11 11:21] varemenos opened #32 "License"
Under what license is this repository distributed?

[2015-04-11 17:41] mbadolato commented on #32
There really isn't a license associated as most of the themes are ones that I've found on the net, available for free but no specific licenses attached, and collected. Some I've made.

So, I suppose I could stick a CC license or MIT or whatever on it but since this is more of a collected work then a created work, it didn't really make sense. I suppose I could put something on there and indicate th

[2015-04-11 17:44] varemenos commented on #32
Alright that answers my question, thanks.
Feel free to either close the issue or use it as a reminder to write that indication

[2015-04-11 20:32] sunaku commented on #28
What wiki?  All I see is [a blank page](https://github.com/mbadolato/iTerm2-Color-Schemes/wiki). :confused:

[2015-04-11 22:13] mbadolato commented on #28
Not the actual wiki, just the README file(s)  :smile:

[2015-05-11 15:11] loreb opened #37 "xrdb/Batman.xrdb broken"
I guess there's something wrong with tools/iterm2xrdb, but I don't speak ruby :)

Batman.xrdb has lines like
#define 1 #00ed6c
#define 1 #007174
#define 0_5 #00f789
which are completely nonsensical
$ ./tools/iterm2xrdb < schemes/Batman.itermcolors | cmp - xrdb/Batman.xrdb
says that Batman.xrdb is exactly the output of the conversion, so, assuming the the iterm theme is ok (I don't have a mac), wel

[2015-05-11 16:00] mbadolato commented on #37
Yeah sometimes the translation script doesn't work if there are missing (optional) values in the original itermcolors files. I've never fully looked into it (I didn't write the script). Thanks for letting me know; I'll look into it when I have some time

[2015-05-11 16:44] sunaku commented on #37
That happens because the Batman.itermcolors file is specifying an extra `Color Space` key whereas all other colorschemes don't.  Remove those extra keys and the conversion should work properly. :hammer:

[2015-05-11 17:20] sunaku commented on #37
Pull request #38 submitted to fix this issue. :rocket:

[2015-05-11 17:44] mbadolato commented on #37
Thanks @sunaku!

[2015-05-12 19:05] sunaku commented on #37
Glad to help! :santa: We can close this issue now. :runner:

[2015-05-12 19:06] #37 closed

[2015-06-30 09:32] kostiakoval commented on #23
does the voting works? Can I see most popular themes?

[2015-06-30 15:50] mbadolato commented on #23
@kostiakoval No I never launched the new version of the site. It's on my Eventually™ list

[2015-06-30 18:08] kostiakoval commented on #23
Thanks for answer!

[2015-07-25 03:40] robwise opened #43 "Material and MaterialDark"
Material and MaterialDark both can be imported and loaded without error, but don't actually change colors (this is in iTerm2). All other schemes from the repo that I've tried work with no issue. Can you confirm if there is indeed a problem with these two themes?

[2015-07-25 03:43] mbadolato commented on #43
Hmmm, they're both working just fine for me.  I already had Dark in my list and it switched over just fine. I imported the Material (light) scheme and it worked as well.  Which version of iTerm are you using (Latest, the beta, the nightly)? I'm using nightlies here

[2015-07-25 05:52] robwise commented on #43
@mbadolato Yep, that was it! I was using 2.1.1, which is the latest stable build, but I installed the nightly build and it both Material and MaterialDark work all of the sudden!

[2015-07-25 05:52] #43 closed

[2015-07-25 06:34] mbadolato commented on #43
Interesting!

@gnachman Any thoughts on why that could be the case? Do newer version of iTerm have different settings in the ```.itermcolors``` files?

[2015-07-26 23:39] gnachman commented on #43
2.9 adds a new field for colorspace but 2.1 ought to ignore it. I'll try to reproduce the issue.

[2015-07-26 23:49] gnachman commented on #43
It looks like the issue is that after you've used 2.9.x (nightly build or latest beta), your profile will have an entry for "Link Color". 2.1 gets angry that your color preset is missing an entry for it. The easiest solution is to re-export the arrangement with 2.9 and reload it.

[2015-07-27 03:58] mbadolato commented on #43
Good to know, thanks!

[2015-09-02 19:06] jondot opened #46 "Source of colors?"
Hi,
I find the themes extremely good, that I want to take them to XCode and macvim. From looking around, I don't think there's an easy mapping.
Can you shed some more light about how the colors were picked? did you use a source baseline themes (from vim, or such)?. Hopefully I can trace back and use those in my editors as well :)

Thanks

[2015-09-02 19:07] jondot commented on #46
Ah, found it on the README. Headslap :+1:

[2015-09-02 19:07] #46 closed

[2015-09-02 19:10] mbadolato commented on #46
Heh yeah that bad-boy's hidden right in the main folder :wink: :)  If you have any other themes you'd like to contribute, please send in via PR!

Cheers!

[2015-09-02 19:23] jondot commented on #46
Looks like a perfect collection. I only wish I somehow magically had all these schemes in Vim. I must say the higher contrast solarized looks like what solarized should have been!

[2015-09-02 20:17] mbadolato commented on #46
Yeah I really like that one too. Solorized is pretty popular but it's never really done it for me. I like the HC version a lot though. My default go-to is Symfonic, but I also really like Argonot and a few others. I tend to assign different schemes for different profiles (like red background ones for production machines etc) so it's nice having a variety available

[2015-09-02 20:35] jondot commented on #46
Will definitely check Symfonic. I'm happy to meet other people with the same obsession for color schemes like mine :)
I decided to curate the sources and variations for schemes in a list: http://github.com/jondot/awesome-colorschemes.
I've been doing the OCDish research every few years when I feel like swapping colors, and the challenge is matching the same theme to my various editors (Xcode, IDEA

[2015-09-02 20:41] mbadolato commented on #46
Haha nice! Yeah I like to make everything match too. This repo started out because I couldn't find any good themes for iTerm so started collecting them. Now there's 100-ish and a few people have submitted ports for Terminal, xrdb, Terminator etc.  One of these years I'm going to put up a new version of the site (that's like 1/2 done) that allws for voting, ranking, easily submitting, etc

[2015-09-02 20:44] jondot commented on #46
Excellent work! :+1:

[2015-09-07 20:54] mazedulislamkhan opened #47 "Material Colour Schemes doesn't work."
Material colour scheme and the dark version both doesn't work.

[2015-09-07 23:38] mbadolato commented on #47
Someone else had this issue recently and it seemed to be related to the iTerm version. See [here](https://github.com/mbadolato/iTerm2-Color-Schemes/issues/43) for details. Can you let me know if that's your issue as well?

[2015-09-07 23:41] mazedulislamkhan commented on #47
You're absolutely correct. I'm having the exact same issue.

[2015-09-09 00:05] mbadolato commented on #47
Did the solution in that thread (newer version of iTerm) fix your issue?

[2015-09-09 00:10] mazedulislamkhan commented on #47
No, It didn't fix my issue as I never installed nightly build or beta version of iTerm. So, I'm not using Oceanic Material theme and it works correctly as expected.

[2015-09-09 00:11] mbadolato commented on #47
Ah. Well, should be fixed then when iTerm has it's next stable release. Cheers!

[2015-09-09 00:11] #47 closed

[2015-11-04 21:30] varunagrawal opened #51 "Explanation of screenshots"
When I look at a screenshot of a color scheme, I do not understand what the various rows and column values mean. For example, what does 37m and 1;37m mean and how are they different? What settings should I change to get a particular color scheme?
It would be nice to have this in the README.

[2015-11-04 21:33] mbadolato commented on #51
The screenshots are generated from a script a lot of people use. They're for showing the colors in the scheme in their regular and bold versions and how they look comparatively with the other colors. You don't have to worry about setting any colors yourself. Simply import the scheme files and select the scheme you want, per the instructions in the README

[2015-11-06 07:18] #51 closed

[2015-11-10 01:43] yan-kisen commented on #51
I'm still not sure about how to interpret the images.

Is **_m_** a unit of measurement? Which row/column represents the standard output for a color scheme?

Thanks!

[2015-11-10 03:50] mbadolato commented on #51
They're just part of the code (escape codes or shell codes IIRC). The 1st column is basically what the theme is.

[2015-11-10 18:46] sunaku commented on #51
@yan-kisen @varunagrawal learn about ANSI color escape sequences here: :books:
* http://wiki.bash-hackers.org/scripting/terminalcodes#foreground_coloring
* https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

[2015-11-10 21:34] mbadolato commented on #51
@sunaku :+1:

[2015-11-10 22:59] caseypatrickdriscoll opened #52 "Batman scheme doesn't load"
Using iTerm 2.1.4

Will investigate and hopefully do pull request. Other schemes load just fine. No obvious errors in file and nothing reported.

[2015-11-10 23:19] mbadolato commented on #52
Could be the same issue as in #43. @lokson fixed a couple in #48 and #49 so this might just need to same solution. I don't know if i'll have time to investigate this week

[2015-11-11 13:32] caseypatrickdriscoll commented on #52
It does work in the nightly. Not sure what the best path is here. I will leave it as is I think and close this comment. Others will hopefully find this post.

https://iterm2.com/downloads/nightly/#/section/home

[2015-11-11 13:32] #52 closed

[2015-11-17 15:08] kevin-smets commented on #32
If you provide no license, isn't it copyrighted by default? See http://blog.codinghorror.com/pick-a-license-any-license/

Quote from the article:

[2015-11-17 15:13] kevin-smets opened #53 "Parasio Dark.itermcolors has duplicate doctype"
The doctype is declared twice:

[code]

This makes sax parsing a problem, using npm sax-parser it returns an error:

[code]

I'm running this through a converter to create sass variables out of the itermcolors files.

[2015-11-17 17:53] mbadolato commented on #32
@kevin-smets This is just a collection not a copyrighted work. Schemes created by others and included here are not mine to assign my own copyright to. I get what you're saying but I don't think it applies here, nor do I want the hassle of trying to curate licenses for individual schemes etc. This is a resource I started keeping just so I had themes in one place. Others find it useful and are welco

[2015-11-17 17:54] #53 closed

[2015-12-04 22:00] andrew-christianson opened #58 "Konsole instructions are wrong for more recent konsole"
Konsole in KF5 appears to look for colorschemes only in ~/.local/share/konsole.  Dropping the colorschemes in there works (and looks!) perfect(ly), but the instructions in the README are wrong.

[2015-12-04 22:08] mbadolato commented on #58
Thanks!

@1player Since you added the console support, any other info/instructions you'd like to add?

[2015-12-05 13:52] umayr opened #59 "Text gets invisible while running mocha"
<img width="574" alt="screen shot 2015-12-05 at 18 48 57" src="https://cloud.githubusercontent.com/assets/3071948/11608065/254b2480-9b81-11e5-844d-edcbb7ea6a05.png">
As seen in the screenshot, some part of the text gets invisible for Solarized Dark theme. It's happening with gulp too.

My iTerm version is `2.1.4`.

[2015-12-06 10:02] kevin-smets commented on #59
I fixed this in a gist of mine (I should launch a PRQ for this :) ) -> https://gist.github.com/kevin-smets/8568070#file-solarized-dark-fixed-itermcolors

The link fixes this: by default, the Ansi 8 Color is not readable on the set background for Solarized dark. This value has been replaced by the one from the Solarized high contrast theme.

[2015-12-06 19:50] mbadolato commented on #59
:+1:Please do!

[2015-12-06 20:01] kevin-smets commented on #59
Done :)

Before:
<img width="212" alt="screen shot 2015-12-06 at 20 55 31" src="https://cloud.githubusercontent.com/assets/4222494/11615270/8775b52c-9c5c-11e5-8b6a-22efc4bd45b3.png">

After:
<img width="182" alt="screen shot 2015-12-06 at 20 55 58" src="https://cloud.githubusercontent.com/assets/4222494/11615271/87788c98-9c5c-11e5-88ee-7a564569a725.png">

[2015-12-06 20:05] umayr commented on #59
@kevin-smets Awesome. But shouldn't it be any base colour rather than blue? Maybe `#586e75` or `#657b83`?

[2015-12-06 20:17] kevin-smets commented on #59
@umayr good point, but that way it does not look like a highlight at all? It looks just like regular output.

(This is `#657b83`)
<img width="199" alt="screen shot 2015-12-06 at 21 12 40" src="https://cloud.githubusercontent.com/assets/4222494/11615335/1d9e53e6-9c5e-11e5-8a5a-4da24dab46c6.png">

Just thought high contrast would be the nicest / closest match. Though the rest of the colors are indee

[2015-12-06 20:30] kevin-smets commented on #59
Went with Base01, the darkest content color:

<img width="178" alt="screen shot 2015-12-06 at 21 29 04" src="https://cloud.githubusercontent.com/assets/4222494/11615413/85cdfbea-9c60-11e5-85ca-2711935eb3af.png">

Also adjusted the PRQ to this.

[2015-12-06 23:31] mbadolato commented on #59
Either works for me; no particular preference. I may be one of the few people that doesn't use Solarized Dark :wink:

[2015-12-06 23:33] #59 closed

[2015-12-07 05:43] umayr commented on #59
That looks really awesome. Thank you, @kevin-smets.

[2015-12-07 08:04] kevin-smets commented on #59
No problem, now I can simplify my gist :D :dancers:

[2016-01-12 03:29] jez opened #62 "The Solarized Dark change should be reverted"
The changes introduced in #60 should be reverted. The official Solarized Colors (which people expect to install when selecting a theme titled "Solarized Dark") can be found in the [altercation/solarized][1] repo.

I can understand the motives of some people to use a different, more readable color for `Ansi 8 Color`. There has been much talk about this, to the point that some have even [reported it

[2016-01-12 05:10] mbadolato commented on #62
Yeah that's a good idea and a PR would be most welcome. When that merged in I had actually begun thinking about that and to check on the "official" standards of Solarized Dark and it completely fell out of my head shortly thereafter. Thanks for the kick! :smile:

[2016-01-16 05:07] #62 closed

[2016-01-16 10:41] chenruibin opened #64 "Getting more done in GitHub with ZenHub"
Hola! @chenruibin has created a [ZenHub](http://www.zenhub.io) account for the **mbadolato** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account

[2016-01-16 23:36] #64 closed

[2016-01-22 19:39] ozdv opened #66 "When importing iterm2 scheme, nothing happens"
version 10.11
Latest iTerm2
Trying to install schemes, but following instructions, it won't change the appearance of the iTerm window.  It shows the scheme I've imported, but clicking, does nothing.

When I click on a default scheme, it will change.

[2016-01-22 19:44] mbadolato commented on #66
That sounds like an issue with your iTerm install. Once you've imported the themes, if you see them in the theme dropdown, selecting it should change what you see.

It could also be that you have multiple windows/tabs open and it isn't correctly determining which one to open. Use Cmd I->Colors->Color Presets to see if it changes an active window. If that doesn't work, try setting Cmd + -> Profile

[2016-02-05 15:44] bent0b0x commented on #66
I am experiencing the same exact behavior as @Ozad. iTerm 2.1.4. I can import a preset, but when I select it from the menu of presets none of the colors on the preferences pane change, and nothing is reflected in the terminal.

[2016-02-05 18:17] mbadolato commented on #66
@bent0b0x Did you try as I suggested as above?

[2016-02-05 18:18] mbadolato commented on #66
Also, again, if you're doing it from CMD-, which is the global preset for a defined profile, it may not show up right away (especially if you have more than one window/tab open). DOing it from CMD-i is session specific so should work from there.

For the whole profile (CMD-,) changing it then opening new windows/tabs after that should reflect the new color.

Can either of you confirm this behavior

[2016-02-10 11:14] aloisdg commented on #32
Awesome lists use the CC0 license.

[2016-02-11 03:45] mbadolato commented on #32
Again though, I don't own the copyrights on the included schemes so am hesitant to assign my own copyright to the repo

[2016-02-11 10:30] aloisdg commented on #32
@mbadolato as you want. but without a license we are not allowed to use it.

[2016-02-12 06:28] mbadolato commented on #32
I disagree, but if it would make people happy I can stick something on there saying the collection as collected by me is free to use but individual schemes are copyright by their respective owners

[2016-02-15 08:45] aloisdg commented on #32
I am not a lawyer but it should do the job I guess.

[2016-03-07 20:49] hugh-hefnerd commented on #66
I'm on OS X 10.11.3 and iTerm 2.1.4 and am seeing the same exact behavior. Whether I try and change colors in the session or profile tool there is no change in any of the window colors.

Logfile from iTerm located here.
[http://pastebin.com/hEpyPABm](url)

[2016-03-07 22:56] mbadolato commented on #66
I don't have any other (or really any at all) suggestions for what could be causing this issue. I would suggest inquiring over in the iTerm repository where George may have some suggestions

[2016-04-13 11:08] NeonMonk commented on #66
I'm having the same issue with Build 2.1.4, and the Batman color scheme. If I use the "preview" tool, it sets the scheme. If I select it from presets, either globally or in the profile, nothing happens. The ANSI colors don't change and there's no change in the terminal window. Nothing happens.

Here is the relevant console entry:
[code]

[2016-04-15 10:59] M4urice opened #71 "Site is offline"

[2016-04-15 11:08] kileras commented on #71
http://iterm2colorschemes.com/ it's fine for me (from UK)

[2016-04-15 12:12] M4urice commented on #71
You are right. It was caused by the proxy I am using.

[2016-04-16 00:59] #71 closed

[2016-06-27 04:36] crzidea opened #78 "Update website: iterm2colorschemes.com"
The website should be updated. I found one typo on http://iterm2colorschemes.com/

Website:

But this line in the README is:

It's `Monokai`, not `Mokokai`.

[2016-07-04 13:37] viix opened #79 "occur error when importing scheme"
<img width="532" alt="screen shot 2016-07-04 at 9 36 05 pm" src="https://cloud.githubusercontent.com/assets/8758499/16562379/6bffef0a-422f-11e6-9e37-0e96898a14dd.png">
iterm version: 3.0.0

[2016-07-04 13:57] lokson commented on #79
Hi @viix
Do you remember which theme?

[2016-07-04 14:11] viix commented on #79
https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/schemes/Afterglow.itermcolors

[2016-07-04 14:34] lokson commented on #79
@viix It seems to work on iTerm2 3.0.4. Update may solve the problem.

<img width="1218" alt="screen shot 2016-07-04 at 16 31 22" src="https://cloud.githubusercontent.com/assets/5403694/16563919/04069d74-4205-11e6-8dea-33deb1cdbd62.png">

[2016-07-05 07:40] viix commented on #79
my fault, OK now.
thx @lokson

[2016-07-05 07:40] #79 closed

[2016-07-20 14:07] StevenXL opened #80 "Explanation of Column Headers"
Hello iTerm2-Color-Schemes theme,

I am not sure if this is the correct place to ask this question, but what do the columns mean for each screenshot? Is there a way to determine what "column" will be in effect on my system?

Thanks for any input. I'd be happy to make a PR against the website and the README once I figure this out.

[2016-07-22 15:08] summerGreenTea opened #81 "The color of the font is the same"
i just do the things for install itermcolor theme in iterm2, but the background color of iterm2 was changed, the font color of iterms was  not changed. Anybody can tell me how to solve it ?  Thanks.

[2016-08-06 15:01] earthIsAPrisonIfYouNotAwareItCanNotOut opened #85 "find the florescent light style theme"
is there a theme like this:
<img width="791" alt="2016-08-06 11 00 58" src="https://cloud.githubusercontent.com/assets/16307328/17457400/b4d9c4d0-5c29-11e6-87d4-f18135a7b398.png">

[2016-08-06 21:29] mbadolato commented on #85
None that I've come across. Not sure how iTerm would achieve the effect either. If you find something, let me know!

[2016-08-06 21:29] #85 closed

[2016-08-07 21:50] mbadolato commented on #80
The left-most column is what the theme would look like. The remainder columns are showing affects of each color with the others. The screenshots aren't the most useful but they were pretty much the standard for what people have used so I continued with that trend when I put together these themes.

[2016-08-07 21:50] #80 closed

[2016-08-08 19:17] im-martijn commented on #81
Same problem for me. CHanged to Jetbrains Darcula. Background changed to dark ok. All typography is in one color, which I assume it should not be.

[2016-08-09 16:14] mbadolato commented on #81
Not sure why this would occur. Is it all themes or just one?

Also, from the command line try running ```unset LSCOLORS``` and see if it fixes the issue. If it doesn't you could try specifically setting it to something like ```export LSCOLORS=GxFxCxDxBxegedabagaced```.   If either of those work, add them to your .bashrc or .zshrc

[2016-08-11 10:23] im-martijn commented on #81
Strange. Neither of those seem to work. I tried them both.

<https://www.instantmagazine.com>
+31 (0)20 3032822 <%2B31203032822>
martijn@instantmagazine.com
www.instantmagazine.com
www.twitter.com/instantmagazin
www.facebook.com/instantmagazine

<https://www.youtube.com/watch?v=UYu6Fv0Z3Vg>

2016-08-09 18:14 GMT+02:00 Mark Badolato <notifications@github.com>:

[2016-10-27 10:55] shusso commented on #81
I have this in my ~/.profile
[code]

which seems to fix the issue for me

[2016-11-05 15:36] renmax commented on #81
it seems that it has to be "export TERM=xterm-256color" in ~/.bash_profile.

[2016-12-09 17:39] jdpeck90 opened #95 "Quick suggestion for Install and Contribute instructions."
Hi Mark,

First of all I want to thank you for making these iTerm2 color schemes, I love them! I wanted to make a quick suggestion to make the **Install Instructions** a bit more accurate. Your instructions are as follows.
"
To install:

Launch iTerm 2. Get the latest version at iterm2.com
Type CMD+i (⌘+i)
Navigate to Colors tab
Click on Load Presets <---- (This should say "Click on Color Presets"

[2016-12-09 18:11] mbadolato commented on #95
Yeah, the verbiage on the screens may have changed since the instructions were written. If you'd like to submit a patch, by all means, do! Thanks!

[2016-12-09 18:16] jdpeck90 commented on #95
Hey Mark!

Thank you for getting back to me so quick, I just might if I can figure it out! To be completely honest with you I have almost no idea what a patch is. (I imagine the patch I would be submitting would put in place the suggestions I made to you?) I am just starting to get into programming so I am looking to contribute in all ways/shapes/forms.

I will certainly look into summiting a patc

[2016-12-09 21:18] mbadolato commented on #95
Pretty easy to do with github!  If you've started using git and understand the process, you can fork this repository, make your changes, commit them, and submit a pull request.  If you're not up to that yet (it takes time to learn all of this stuff 😄 ) then I believe if you're browsing the Readme page on here you can click Edit and github will help you with the fork and submit process (I don't rem

[2016-12-10 18:47] jdpeck90 commented on #95
Hey Mark,

I think I figured it out as the readme seems to have changed per my
suggestions. Anyways I can't thank you enough for your kindness and
willingness to help me learn. It is such a refreshing change coming from
the fashion industry, you have no idea!!!

I hope you have a great weekend!

On Fri, Dec 9, 2016 at 4:18 PM, Mark Badolato <notifications@github.com>
wrote:

--
Thanks,

----- *Jus

[2016-12-10 23:21] mbadolato commented on #95
Glad you got it! Don't forget to submit the change back as a Pull Request!

[2016-12-11 00:17] jdpeck90 commented on #95
Hi Mark,

I just re-did a few of my corrections and was even more nit-picky this time
so I could re-submit as a pull request. If you have a second, would you be
able to confirm that I did this correctly?

Thank you so much for all of your help, if you ever need any help in the
future please reach out as I would love to return the favor.

You are the man Mark, Thanks again for everything!!!

On Sat

[2016-12-11 05:09] mbadolato commented on #95
Merged in. Thanks for the PR!

[2016-12-23 08:07] SpectralCoding opened #98 "Worth working to build PuTTY version?"
I originally found this list because there is a lack of PuTTY-compatible color schemes. I ended up using a tool to output the ANSI colors from the .itermcolors file and manually enter the values into the PuTTY colors interface. I could easily write a script to convert all the .itermcolors files here into .reg files which can create a PuTTY session template. These would live as another top-level di

[2016-12-23 13:11] mbadolato commented on #98
The repo has been morphing into a resource for all sorts of versions in addition to iTerm. If you'd like to contribute a putty version, it would be most welcome!

Thanks!

[2016-12-24 03:22] SpectralCoding commented on #98
Submitted Pull Request #99: Add PuTTY color schemes and related support files.

[2016-12-24 03:47] mbadolato commented on #98
Got it, thanks!

[2016-12-24 03:47] #98 closed

[2017-01-12 19:03] marypieroszkiewicz commented on #95
Hey. It's possible to add **iTerm2 Color Scheme**s in **Sublime Text 3**...?

Thank you for answers.

[2017-01-13 07:31] mbadolato commented on #95
@marypieroszkiewicz At the moment, no. If someone would like to contribute a conversion between the formats, I'd be happy to include it!

[2017-01-13 07:31] #95 closed

[2017-01-21 02:29] wang4921 opened #102 "The Color Schemes in MacOS Sierra(10.12) not work"
There is only one color in iterm2 although I choose any colortheme. If I choose solarized theme ,it looks like this.
![2017-01-21 10 28 54](https://cloud.githubusercontent.com/assets/11326828/22171228/75961656-dfc4-11e6-945f-1c059501b42f.png)
How can I fix it ?  It looks so strange.

[2017-01-21 04:27] mbadolato commented on #102
I don't know what could be happening. I've been using Sierra since it came out without any issues. Can you post a screen shot showing the themes imported (and listed in the dropdown)?

[2017-02-13 22:22] amckinlay opened #106 "Color space handling incorrect"
I wouldn't doubt if most of the themes in this repository are broken. Currently, iTerm2 supports specifying RGB values in two color spaces in .termcolors files, Generic RGB (default when unspecified) and sRGB (recent addition). Taking a look at the conversion scripts, it seems that neither of them handle the color space specification. In fact, the default Generic RGB color space is mishandled as s

[2017-02-14 06:24] mbadolato commented on #106
Thanks for the feedback! Patches welcome 😄

[2017-02-14 06:24] #106 closed

[2017-02-20 03:24] adoyle-h opened #109 "How to contribute my color scheme?"
I have made a screenshot with 13pt Monaco and no transparency background, and exported a .itermcolors file.
But I do not know how to deal with the Xresources/ konsole/ putty/ xrdb/ ... folders . Should I do anything else?

[2017-02-20 03:38] wang4921 commented on #102
![2017-02-20 11 32 50](https://cloud.githubusercontent.com/assets/11326828/23110985/6ed9a950-f760-11e6-98c7-4d73c1ba3baf.png)
@mbadolato
Is there any issues that I config theme in the prerferences?

[2017-02-20 04:51] mbadolato commented on #109
There's a script in the `tools` directory called `update_all.py` that should create all of those. If you're not able to run it, that's ok. I typically run it when I add new themes to the repo.

If you have forked this repo, add your changes and push them to your fork, then submit a PR back to my repo.

Thanks!

[2017-02-20 04:52] mbadolato commented on #102
@wang4921 I'm not sure I understand your question

[2017-02-20 04:53] mbadolato commented on #102
The Solorized Dark that you have checked in your screenshot is the version that comes with iTerm (I think). If you want to use the one from this repo, you need to import it and choose it from the list, further down (where the black arrow pointing down is)

[2017-02-20 06:05] #109 closed

[2017-03-17 16:31] jarandaf commented on #102
I'm also facing this issue. It looks like any color scheme import takes no effect (at least on Sierra).

[2017-03-20 13:46] sebastianbarfurth commented on #102
The import itself takes no effect, you would need to select it from the dropdown after importing it @jarandaf.

[2017-03-20 15:09] jarandaf commented on #102
I may not have expressed myself clearly; I did select the scheme after the import @sebastianbarfurth

[2017-05-24 23:42] felixsanz opened #119 "Bruloco is missing in XResources"

[2017-05-25 00:50] mbadolato commented on #119
Thanks, I ran update_all and got a bunch of missed files

[2017-05-25 00:50] #119 closed

[2017-05-29 03:03] ch-gz commented on #102
Append this to .bashrc or .bash_profile:
`export CLICOLOR=1`

[2017-07-12 08:52] luisdavim opened #121 "Add ports for gnome terminal"
Hi,
maybe you could use this http://www.sharms.org/blog/2012/08/24/using-iterm2-themes-with-gnome-terminal/ to also provide gnome terminal ports.

Thanks,
Luis

[2017-07-12 15:23] mbadolato commented on #121
That would be a great addition!

[2017-07-20 13:49] aqnaruto commented on #23
nice

[2017-07-20 13:52] aqnaruto commented on #23
test

[2017-07-20 13:53] aqnaruto commented on #23
test

[2017-07-20 13:56] aqnaruto commented on #23
test

[2017-07-20 13:56] aqnaruto commented on #23
test

[2017-08-20 14:25] fyee commented on #102
it does no efforts , only the background color changed, how can tell me why?

![image](https://user-images.githubusercontent.com/6078758/29495638-c8bd6136-85f5-11e7-9dd2-5fa1d1b272d4.png)
![image](https://user-images.githubusercontent.com/6078758/29495639-d3487db6-85f5-11e7-8aa2-113ce2fe9ad9.png)

[2017-08-20 14:28] fyee commented on #81
but not work for me @shusso  @mbadolato

[2017-09-13 08:53] antenore opened #124 "[question] - Remmina color schemes"
First of all thanks or this repository!!!

I've written a color scheme manager for http://github.com/FreeRDP/Remmina, a Gtk+ remote desktop client. It uses, almost, the same color scheme files of termite.

So, for instance, https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/termite/AtelierSulphurpool , becomes:

[code]

It just change the group name and there are not quotes. So it's qui

[2017-09-13 17:00] mbadolato commented on #124
Sure! The more formats, the better! I would just request that the converter be included as well in the `tools/` directory and set up to run as part of the `update_all.py` script!

Thanks!

[2017-09-13 17:16] antenore commented on #124
Ok, I'll work on it ASAP.

[2017-09-13 17:50] mbadolato commented on #124
👍

[2017-09-30 19:51] PezCoder commented on #66
This worked for me, it changed the current opened sessions colors.. but after opening a new tab or even reloading iterm reverted back to a default colors..
When i launch iterm i see the color scheme colors for a split second & then it comes back to the some default blue color.. Could  it be zsh messing with it ?

[2017-09-30 20:07] PezCoder commented on #66
I tried disabling zsh, & it worked. This is some issue with using zsh with iterm

[2017-10-01 17:38] mbadolato commented on #66
Hmmm, interesting. I use ZSH and oh-my-zsh and have never had any issues. I wonder if there's a setting that causes it

[2017-10-02 07:38] PezCoder commented on #66
I reinstall zsh & oh-my-zsh, now everything is working as expected, theme is loading perfectly. 😄

[2017-10-02 07:39] PezCoder commented on #66
@ozdv you should give it a try

[2017-10-02 07:57] PezCoder commented on #66
I had this in my zshrc that was causing the color overrides
[code]
I use to use this to get correct colors for my base 16 color scheme in vim.

[2017-10-14 11:13] ut4utc opened #133 "[question] - Mac, color schemes dont save"
Hi,
Thank you for the wonderful themes.
I have a small problem.
At the time when I open a new tab - there again is the default colors.
If I open new Tab - I look my Default Profile Color Scheme - Agnoster, but I want look Atom from yours colors.
What do you need to do to choose the right color after closing iTerm?

iTerm - latest.
Oh-My-Zsh config [here](https://proinsurer.com.ua/en/blog-en/avi/18

[2017-10-14 17:42] mbadolato commented on #133
Are you changing the schemes using CMD-I or CMD-,  ?   If you use CMD-I it only changes it in the session window you're currently in but will revert back to the profile's default when you open a new session.  If you use CMD-, (Preferences) and go to the profiles tab and select the color from there, then it will change the scheme permanently for that profile. Also make sure your iterm preferences s

[2017-10-14 20:57] ut4utc commented on #133
You are my God! Thanks a lot. It's realy working niw))) LOL
Really I used the CMD+I, and didn't think about it, oh  !:)
idk why I cant used CMD+, it's simple oh-la-la, but.. Maybe I'm was stupid

Sometimes this happens when you work a lot and then half a day do not understand why the code is perfect and it does not work. Just put a comma instead of a point)

I'm happy now, thank you Mark!
Cheers!

[2017-10-14 20:57] #133 closed

[2017-10-15 18:51] mbadolato commented on #133
Awesome, glad to hear it worked!

Cheers!

[2017-11-05 13:01] o02112 opened #138 "Can't configure the PS1"
there is no options to config the command line prompt.

`export PS1=">"`

make it configurable

[2017-11-07 06:07] mbadolato commented on #138
That's a shell command that you have to do in your bash or zsh rc file

[2017-11-10 22:21] SirSpoony opened #139 "Colors are much darker in iTerm than in the screencaps"
This is espresso. On the left is the screencap from the README.md, and on the right is what i got after importing into iTerm. It's like this in both zsh and bash.

<img width="1243" alt="screen shot 2017-11-10 at 4 05 34 pm" src="https://user-images.githubusercontent.com/8738145/32681017-11d78fae-c633-11e7-8e70-e72466a47f31.png">

[2017-11-10 22:37] SirSpoony commented on #139
I just discovered that cursor boost was set half way - that's what made everything else darker...

[2017-11-10 22:37] #139 closed

[2017-11-15 20:45] pcgeek86 opened #140 "Automate installation of iTerm2 themes"
I love these themes, thank you for documenting and sharing them on GitHub. My MacBook was just reimaged this week, and I lost all the themes that I had [manually] installed before.

Right now, the installation directions don't contain any automated installation steps. It would be really awesome if I could simply do a `git clone`, and then run some script to install the themes.

I can help contribu

[2017-11-15 23:01] mbadolato commented on #140
Hi Trevor,

I don't know of any process. That doesn't mean there isn't one, I just don't know if it exists. If someone has any ideas, by all means, submit them and I'd be happy to include!

[2017-11-16 00:26] pcgeek86 commented on #140
Cool, I was hoping that maybe it would be as easy as copying the files into the right place, or editing a configuration file (plist, json, etc.). Maybe someone will chime in someday, either here, or using another medium! :) Thank you!

[2017-11-16 02:48] mbadolato commented on #140
Well it's not just putting files in a location; they have to be imported. I don't know if there's a way to automatically trigger that

[2017-11-29 15:36] eyaleizenberg commented on #59
I'm still facing this issue, what's the solution here?

<img width="904" alt="screen shot 2017-11-29 at 17 27 34" src="https://user-images.githubusercontent.com/1061345/33383279-963b3d66-d52b-11e7-9f27-17c841cb62c6.png">
<img width="865" alt="screen shot 2017-11-29 at 17 28 06" src="https://user-images.githubusercontent.com/1061345/33383281-966a8274-d52b-11e7-9dea-9428f3dd57db.png">

[2017-11-29 23:35] mbadolato commented on #59
The issue was reverted (see #62). So other than changing the color manually yourself, or using a tweaked theme (or different altogether), this issue is likely to stay, if you're using something that has output in the affected color.  AFAIK, the Solarized theme in here matches the official standard, so it's not something with the theme itself, but rather with the output of the program

[2018-01-05 17:43] andrewcodes commented on #58
Confirmed that the location that @andrew-christianson mentioned is correct on KDE 5.11.5 as well.

[2018-01-06 16:31] mbadolato commented on #58
@andrewcodes That would be fantastic, thanks!

[2018-01-15 18:24] MinchinWeb opened #145 "Add all Schemes to Webpage"
Wonderful collection you have here! Thanks for putting it together.

A number of schemes are missing from the webpage (http://iterm2colorschemes.com/). Would it be possible to add a screenshot of them? Here's the list:

- BlulocoDark
- BlulocoLight
- Builtin Dark
- Builtin Light
- Builtin Pastel Dark
- Builtin Solarized Dark
- Builtin Solarized Light
- Builtin Tango Dark
- Builtin Tango Light
- Ca

[2018-01-15 21:37] andrewcodes commented on #58
@mbadolato created a PR: #146

[2018-01-16 01:04] mbadolato commented on #145
Yeah I've gotten really lax about keeping that updated. It's been annoying trying to keep that gh-pages branch (the website) in sync with the main repo Readme since I have to cut and paste screen shots and credits 😄

 Thanks for the reminder! Hopefully I can do it in the coming week.

[2018-01-16 01:04] mbadolato commented on #58
Thank you! merged

[2018-01-16 01:04] #58 closed

[2018-01-24 22:59] AdilHindistan commented on #140
Before you read the rest, 'no, I do not have a solution for this'. Question tickled my curiosity and did a bit of digging.

I was actually looking for themes for Microsoft's colortool and saw this issue here.
On windows, it's simply colortool.exe -b <theme_name> to set it from command line.

On Mac, assuming Travis is using iTerm2, I think to be able to do simulate import you would need to convert

[2018-01-25 02:20] mbadolato commented on #140
Interesting research! I'll be curious to hear if you get further! Thanks

[2018-01-31 20:18] chuckplantain commented on #140
I am not sure if I am missing something: not spending too much time reading the question. But, in iterm2, where you import colorschemes, click on top scheme, and hold down shift, then click on bottom scheme, click open (import them)

before doing this, git clone this repo.

[2018-02-01 02:01] mbadolato commented on #140
@chuckplantain That works for importing all of the themes manually. The OP was asking about doing it automatically so that it could be scripted (i.e., new machine setup, etc)

[2018-02-15 19:35] #138 closed

[2018-02-15 19:35] #124 closed

[2018-02-15 19:36] #102 closed

[2018-02-15 19:36] #81 closed

[2018-02-15 19:37] #66 closed

[2018-03-02 14:25] DarthSpock opened #149 "Add install directions for Microsoft console Color Tool"
With ColorTool, it's possible to import any existing scheme in .itermcolors format, and paste it in the schemes/ directory. Could you add a "How to" install guide using ColorTool?

[2018-03-02 14:57] mbadolato commented on #149
I don't use Windows so I don't have access or the knowledge of how to do. Would you be able to add instructions to the Readme and submit a PR?

[2018-03-02 15:15] DarthSpock commented on #149
Found an article that covers the installation process and grabbed the pertinent part that applies to the project. Probably will need its own page as it includes useful screenshots and your Readme page is extensively long as it is. Probably might be worth creating another page with the screen shots to make the install guide easier to read.

[2018-07-22 17:40] careyjung commented on #140
This is an old thread, but in case anyone's interested, this seems to work for me to do a scripted install of iTerm:

### Bare Installs
1. First, on an existing iTerm installation, get all your preferences dialed in the way you want them.
2. Save a copy of the iTerm preferences file. This is a bit tricky, because it's cached in memory by the `cfprefsd` daemon, so the prefs file isn't always up to

[2018-09-20 21:53] nikeee commented on #121
This would be really nice!

[2018-10-15 10:04] s10wen commented on #140
Hey folks, previously I'd copy and paste across my theme settings, now I use the included 'Solarized Dark' via (preferences > profiles > colors > color presets… :

<img width="919" alt="screen shot 2018-10-15 at 11 01 22" src="https://user-images.githubusercontent.com/1136114/46944354-b7e23980-d069-11e8-9137-2c912abcaac8.png">

With one additional setting being to the 'Minimum Contrast'.

I'm wond

[2018-10-21 17:39] rcreadii opened #165 "Ayu Mirage Theme"
Can ayu's mirage theme be added, it looks amazing! And its easier on the eyes.

[2018-10-23 07:13] mbadolato commented on #165
Would love to add it if someone can port the colors over!

[2018-10-23 07:14] mbadolato commented on #165
@alebcay added the Ayu and Ayu Light themes. Perhaps they have Mirage as well?

[2018-11-19 23:18] ns-njoshi commented on #102
I can't see different colors even after export CLICOLOR=
<img width="961" alt="screen shot 2018-11-19 at 3 17 40 pm" src="https://user-images.githubusercontent.com/43150171/48740957-508e4b00-ec0e-11e8-9248-200fde061a95.png">
1

I can only see blue color and rest all in black. I also managed the contrast setting to 0 as many people were saying that it reduces the color effect

[2018-11-27 18:12] Shaunakde commented on #102
I think I am facing the same issue.

I have the following added to my .bash_profile:
`# Set CLICOLOR if you want Ansi Colors in iTerm2
export CLICOLOR=1

# Set colors to match iTerm2 Terminal Colors
export TERM=xterm-256color`

I have also tried everything mentioned here: https://superuser.com/questions/399594/color-scheme-not-applied-in-iterm2

Nothing seems to be working. I am on MacOS 10.14.1

[2018-11-27 19:50] mbadolato commented on #102
@ns-njoshi Are you set to xterm-256 for your terminal type? If you have the CLICOLOR set, I don't know what else it could be. Brogrammer does display properly on my local system (I use that theme all the time)

[2018-11-30 20:15] alebcay commented on #165
Sorry I haven't seen this, my notifications on GitHub have a very low signal-to-noise ratio. If this isn't done yet, I'll look into it.

[2018-12-05 23:06] christopherii commented on #165
No worries! It'd be awesome if this was added

[2019-01-06 01:47] raxod502 commented on #121
The link above has rotted; here it is: https://web.archive.org/web/20161113164827/http://www.sharms.org/blog/2012/08/24/using-iterm2-themes-with-gnome-terminal/

[2019-01-09 18:43] Valcroca commented on #81
this is still happening

[2019-01-13 22:18] christopherii commented on #165
And is it easy to make both the iterm and a terminal port?

[2019-01-14 18:16] mbadolato commented on #165
When someone submits new themes that get added, I run the generator tool in the tools directory (update_all I think it's called; it's not in front of me) that creates the various ports files

[2019-02-10 21:52] nikeee opened #177 "Add ports for alacritty"
Alacritty has support for colors:
https://github.com/jwilm/alacritty

Some schemes are available here:
https://github.com/jwilm/alacritty/wiki/Color-schemes

[2019-02-12 03:14] mbadolato commented on #177
Hi thanks for adding. If you or someone else would like to add a conversion script to put them in Alacritty format, I'd be happy to add it! Thanks

[2019-02-15 17:42] Glennmen opened #178 "Change schemes folder name"
Not really an issue, just a suggestion.
First time I am on this repo and it took me a while to find the correct folder, I kept overlooking it between the other folders.
I saw the other terminal port folders and was looking for an `iterm` folder.

So my suggestion is to change `schemes` -> `iterm`

[2019-02-16 18:38] mbadolato commented on #178
Hi, this originally started as just an iTerm repo then other formats were added. At this point there are too many blogs and tutorials and they link to that folder for the schemes, plus other tools that could be pointing at that directory. At this time I'm going to leave it, but thank you for the suggestion! If yuo'd like to submit a PR with a note in the README file, I'd be happy to include that.

[2019-02-16 18:38] #178 closed

[2019-02-26 09:16] fuzheng1998 opened #179 "windows & font size I hope to be adjusted"
the windows size of themes is too slim && font is too small to see, so I recommend myselves'
font : Menlo 15
windows: 80*24
if seeking reference, look at [this](https://github.com/nicolashery/mac-dev-setup#beautiful-terminal)

[2019-02-26 19:26] mbadolato commented on #179
@fuzheng1998 I'm not sure what you're referring to. The themes only dictate color schemes. You're required to set your own font faces and sizes in your profiles

[2019-02-27 21:08] JRSQ1231 commented on #102
how do you append the .bash_profile?

[2019-03-05 10:54] #179 closed

[2019-03-26 08:14] mbadolato commented on #32
Added MIT for the collection itself. each theme's license and copyright are per the theme's creator

[2019-03-26 08:14] #32 closed

[2019-04-05 15:11] miluki01 opened #182 "Can't change color in Mac Os Mojave"
Hi, I tried to import a dozen colour schemes but they do not work at all.

[2019-04-05 15:12] miluki01 commented on #182
<img width="978" alt="Screenshot 2019-04-05 at 22 09 54" src="https://user-images.githubusercontent.com/9244654/55637659-c37c1500-57ef-11e9-9c6c-a0d14a419c41.png">
<img width="549" alt="Screenshot 2019-04-05 at 22 11 55" src="https://user-images.githubusercontent.com/9244654/55637705-e4dd0100-57ef-11e9-9916-38daa66f8d70.png">
You can see, it still white!

[2019-04-05 15:36] jabbson commented on #102
@JRSQ1231 `echo "export CLICOLOR=1" >> ~/.bash_profile`

[2019-04-07 02:22] LYJSPEEDX commented on #182
Hi! @miluki01
Can U give my your app version?
I installed V4.0.1 and meet the same problem, while my interface is quite different from you.
I wonder whether the latest version causes the problem.

[2019-04-07 02:25] miluki01 commented on #182
Hi @LYJSPEEDX
It is 3.2.8. I got it from brew. I also tried the version from the official website but it got the same problem.

[2019-04-08 17:55] mbadolato commented on #182
Version 4.0.1 and 3.2.8 of what?

I'm on Mojave and color schemes are working just fine. From the screenshot above I cannot tell what the issue is it looks like you're colors on the screen are exactly what they should be for the selected theme based on the color blocks in the ANSI section

[2019-04-09 04:01] ravi-oli commented on #182
@miluki01 Are you facing issue with Color Presets which are shipped with iTerm2? or only with custom Presets?

For instance, from screenshot you've shared - does Tango Dark / Tango Light works? If yes, then it must ben an issue with Custom Presets files format (probably the way it has been saved).

I had faced similar challenge before, wherein I saved a Preset file manually, imported it and it did

[2019-04-09 05:42] mbadolato commented on #145
They should all be updated now!

[2019-04-09 05:42] #145 closed

[2019-04-30 11:55] VishalNehra commented on #182
I'm also facing this issue. Tango themes aren't working either. They just change the background, no change in color.
Unrelated to this issue - I'm new to this software, could you also tell me how can I choose from different columns in screenshot of each theme.

[2019-05-09 20:13] nikeee commented on #177
Maybe we can use something of this site for conversion:
https://terminal.sexy

Its source is located here: https://github.com/stayradiated/terminal.sexy (MIT licensed)

[2019-06-26 23:22] antoineco opened #193 "Solarized palette is inaccurate"
All Solarized themes seem to be generated from [xrdb/Solarized Dark.xrbd](https://github.com/mbadolato/iTerm2-Color-Schemes/blob/20900a9b58012b22fd65abe90fe86b2899e6de6d/xrdb/Solarized%20Dark.xrdb), but the colors defined in this file are nowhere to be be found in the Solarized [values reference](https://github.com/altercation/solarized#the-values) (regardless of the issue discussed in #62/#63). T

[2019-06-27 02:39] mbadolato commented on #193
No. It's possible adjustments were made and submitted over the years but I don't know. If you'd like to submit an update to the iTerm color schemes file and submit it, we can then run the translator on it and regenerate all of the other formats

[2019-06-27 07:23] antoineco commented on #193
Ah iTerm themes are canonical, got it. :+1: Let me put on my TODO list.

[2019-06-28 07:50] mbadolato commented on #193
Much appreciated!

[2019-06-29 18:56] #193 closed

[2019-07-03 06:48] TerensTare opened #197 "Question"
Does any of these themes suport PowerLine?

[2019-07-03 12:14] rakuco opened #198 "Duplicate "Paraiso Dark" and "Parasio Dark" themes"
The "Paraiso Dark" theme seems to have been originally added in commit fd97e4b9e4c8edd7fb47f6a02e30c366688c73c0, and its name ended up with a typo ("Parasio" rather than "Paraiso").

In practice, this means there are duplicate "Paraiso Dark" and "Parasio Dark" themes in many of the subdirectories in the tree.

[2019-07-03 23:45] mbadolato commented on #197
Sure, the themes are just color schemes so whatever you do within the shell is fine. I'm using Powerlevel9k in my shell (zsh) which is very powerline-like. I've also use the powerline with Vim plugins before. looks good!

![Screen Shot 2019-07-03 at 4 44 34 PM](https://user-images.githubusercontent.com/164615/60630996-e3e94a80-9db1-11e9-9227-f92c08b01d41.png)

[2019-07-03 23:45] mbadolato commented on #198
Ah cool, good to know. I'll check it out when i'm home from vacation :) Thanks!

[2019-07-04 17:33] #197 closed

[2019-07-10 15:17] mbadolato commented on #198
Sorry, haven't had a chance to look at this yet. Any chance you could submit a PR to fix the issue?

[2019-07-22 14:55] binbjz opened #200 "Solarized dark theme doesn't work in iTerm2 Build 3.2.9"
iTerm2 in version 3.2.9 doesn't accept color preset when importing Solarized dark theme. The other theme works well.

# It works well if I used built-in ls.
<img width="283" alt="Screen Shot 2019-07-22 at 22 42 32" src="https://user-images.githubusercontent.com/8213913/61641637-08aa5100-acd2-11e9-9206-257e9ef791f3.png">

# Hardware Overview:
  Model Name:	MacBook Pro
  Model Identifier:	MacBookPro

[2019-07-22 16:42] mbadolato commented on #200
That's not an issue with the themes. It's likely something with your setup and the coreutils ls. Make sure you are using color output. Also try some of the tips in this thread: https://github.com/mbadolato/iTerm2-Color-Schemes/issues/81

[2019-08-01 03:23] #200 closed

[2019-08-08 05:20] binbjz commented on #200
The others color themes work well. Only solarized doesn't work

[2019-08-08 05:37] mbadolato commented on #200
I don't know what to tell you. It has to be something with corels or with the local setup. If you find an answer, I'd be curious to know, but I've never heard of an issue with all themes but one working

[2019-08-08 06:00] mbadolato commented on #200
Also, could very well be that corels is using the `Bright` colors and if you look at those in your screenshot, they're mostly pretty similar to each other. Maybe just not enough for the eye to be discerning?

[2019-08-27 16:37] JonathanMH commented on #177
I'd love to take a stab at it, the base or "source" should always be the iTerm format, correct?

[2019-10-01 10:11] gloryVine commented on #182
Same issue. Only the background color changes.

[2019-10-21 04:08] SirPhemmiey opened #210 "I can't import Color scheme"
I am currently on a macOS Mohave and iTerm version 2.9.5.

There's no place to import colour schemes. I've battled with it for a while now and I can't seem to find it is.

Please help, thanks.

[2019-10-22 03:51] mbadolato commented on #210
<img width="1040" alt="Screen_Shot_2019-10-21_at_8_49_12_PM" src="https://user-images.githubusercontent.com/164615/67258259-8eaa7500-f444-11e9-821c-4f1836464f1d.png">

Go there, scroll to the bottom, choose Import! 😃

[2019-10-22 03:52] #210 closed

[2019-10-22 08:15] SirPhemmiey commented on #210
Hey man, see what i can find here

<img width="658" alt="Screen Shot 2019-10-22 at 9 14 46 AM" src="https://user-images.githubusercontent.com/22390818/67268457-6f473280-f4ac-11e9-8a7a-a1414eef76c8.png">

[2019-10-23 00:21] mbadolato commented on #210
1) That's Terminal, not iTerm
2) Click the gear icon, bottom left, right next to `Default`

😄

[2019-10-23 13:12] SirPhemmiey commented on #210
My bad, thanks!

[2019-11-02 14:29] dartheian opened #214 "Mariana"
Hello, would it be possible to duplicate Sublime's Mariana color scheme? (https://github.com/twolfson/sublime-files/blob/master/Packages/Color%20Scheme%20-%20Default/Mariana.sublime-color-scheme)

[2019-11-04 00:38] nolongerwait commented on #182
Same issue. Only the background color changes. +1

[2019-11-04 04:05] mbadolato commented on #214
If you'd like to submit a PR with a new scheme, I'd be happy to add it!

cheers!

[2019-11-12 00:07] meow232309 commented on #182
same issue for me.

[2019-11-12 00:20] mbadolato commented on #182
These issues don't have anything to do with the themes themselves. It's something with your terminals' setup (terminal type, output, something with the shell).

I'm not able to help diagnose unfortunately

[2019-11-12 00:25] nolongerwait commented on #182
But in its README, it says that we just run it can change the color. Unfortunately it does work, and we did not change anything in settings.

[2019-11-12 00:57] mbadolato commented on #182
And normally that's the case. If there's something off (something with the shell, a terminal type setting, CLICOLOR (which probably should not be equal to 1 as in the screenshot posted earlier in the thread), that's something local. These themes are just values that the terminal program(s) use; there's nothing specific to the themes to do. If it's not working on a machine, it's something with that

[2019-11-12 01:06] nolongerwait commented on #182
This machine is a brand new machine, no one has changed the settings of the terminal and machine, and no terminal program is installed.  So why the theme do not work?  If the theme file requires some settings to be set in advance, why is it not mentioned in the README file?

Also, thank you for some suggestions, I will try it out after getting up tomorrow.

[2019-11-12 02:36] meow232309 commented on #182
same brand new - no one messed with it .

[2019-11-21 22:13] #182 closed

[2019-11-30 23:34] cbitterfield opened #217 "Adding coffee theme"
How to I get a pull request done.
I have created a new them on a branch locally but I can't push it up for a pull request.

New to GIT so a little help would be useful

I cloned the repository, added a branch locally. Created the theme. I created the screen shoy and ran the tools I have a committed branch locally and want to get a pull request on this.

[2019-12-02 15:24] mbadolato commented on #217
I see you got it figured out with the PR you submitted. I'll close this

[2019-12-02 15:24] #217 closed

[2019-12-05 18:07] comradekingu opened #219 ""Remina" in title should be "Remmina"."
Over 200 terminal color schemes/themes for iTerm/iTerm2. Includes ports to Terminal, Konsole, PuTTY, Xresources, XRDB, **Remina** …
Should be "Remmina", (as per https://remmina.org/) and maybe it would be best to have "Includes ports to" in the README.

[2019-12-09 01:21] mbadolato commented on #219
Thanks and great suggestion! I thought I did that long ago but apparently not. Updated!

[2019-12-09 01:21] #219 closed

[2020-02-16 14:39] andreineculau commented on #23
FWIW a quick lifehack is to actually open one github issue per theme, find a unique label e.g. `theme-voting` and let people :+1: - it is then easy to publish a link that shows only `theme-voting` issues, sorted by the number of :+1:

no need for complicated websites and eventually lists 😉

[2020-04-03 14:32] netzverweigerer commented on #140
I came up with this pretty dirty hack here:
`mkdir iterm-colorschemes; cd iterm-colorschemes; curl -s 'https://iterm2colorschemes.com/' | grep href | grep -v 'created by' | grep itermcolor | cut -d'"' -f 2 | sort | while read line; do wget "$line"; done; for i in *.itermcolors; do open "$i"; done
`
This opens a few hundred dialog windows - just keep your return key pressed for 15sec or so and you'

[2020-04-03 15:53] netzverweigerer commented on #140
![image](https://user-images.githubusercontent.com/2576319/78380215-cdd41900-75d3-11ea-94e9-27d345d81e08.png)

I have to admit this gets a bit congested, but hey, rainbows and unicorns I guess?

[2020-04-04 19:19] 8bitkitkat commented on #177
There is a script that creates an alacritty theme from an xresources file although it only does it from the currently loaded xresources file, it could be modified. https://gist.github.com/zacharied/e33300ce340caa70499d516ed8ac8de6

[2020-05-19 17:22] #177 closed

[2020-05-22 17:40] stillhart opened #240 "cursorColor and selectionBackground missing in Windows Terminal settings"
The Windows Terminal configs in the  `windowsterminal` folder seem to lack the following keys:
[code]
See [Microsoft Windows Terminal Color Scheme Documentation](https://docs.microsoft.com/de-ch/windows/terminal/customize-settings/color-schemes)

I noticed this when using white backgrounds.

[2020-05-24 00:05] isacsandin opened #242 "Peppermint Color Scheme"
Hi!, there is an awesome theme for mac users called Peppermint, first released [here](https://noahfrederick.com/log/lion-terminal-theme-peppermint)

There is a port for iTerm2 developed for dotzero in this [link](https://github.com/dotzero/iTerm-2-Peppermint)

Can you please make a port to Windows Terminal ?

I'm posting the links instead of making a pull request to give the credits to the creator

[2020-05-25 15:27] mbadolato commented on #242
Hi, please submit a pull request. You can give credit to the author via the README file. The iterm2 port would need to be added, then there's a conversion script in the tools directory that will port to the other formats, including the windows terminal.  Thanks!

[2020-06-08 10:49] ghost opened #245 "What about vim, zsh, bash, ls, grep, dircolors, tmux, etc?"
It would be absolutely cool to extend this project to many Linux tools and create something like the Dracula project (https://draculatheme.com) but for iTerm2 themes.

[2020-06-15 19:56] tehaleph commented on #245
@mbadolato how do you feel about refactoring conversion tools?

Now it is a set of scripts in different languages (most of which just translate data from xrdb to different templates) but I think we can rewrite this into a single utility that will use some kind of template engine.

Yes, this is less Unix-way than a set of separate scripts for each case but I sure it will be easier to expand – inste

[2020-06-16 05:15] mbadolato commented on #245
Absolutely! I'd welcome any improvements/changes! Pretty much I just started collecting themes and it's grown and people have submitted various tools over there years etc. There's really been no design or thought to cohesiveness; I've just accepted what people send over because it's always been helpful to have!

[2020-06-16 05:30] tehaleph commented on #245
Cool! I think I can do it this weekend.

[2020-06-16 07:08] Toontje commented on #245
NICE! I wish i could help, but my programming skills are close to zero. Working on it though. ;-)

[2020-07-02 01:25] pmunin opened #248 "Powershell color scheme"
Can you please create a Windows Powershell Color Scheme?
![image](https://user-images.githubusercontent.com/7120440/86306118-68e38b80-bbe1-11ea-977b-44c52f19c426.png)

[2020-08-27 04:21] Anvill1 opened #252 "Windows Terminal Themes"

[2020-08-27 10:54] #252 closed

[2020-09-23 13:46] gstfrr opened #257 "import themes for JetBrains IDEs"
Most JetBrains IDEs have support for color schemes but they are very scarce. The only source I found is this website http://color-themes.com/?view=index that has a lot of options. I wish, if possible, add the color schemes for the IDEs. THe formats accepted are .icls and .jar.

![image](https://user-images.githubusercontent.com/20268946/94021105-0934f080-fd8a-11ea-81de-56d73df91f6b.png)

[2020-09-23 21:12] mbadolato commented on #257
@gstfrr If you know of an existing, or wish to write one, conversion script I'd be happy to include it and the schemes in the proper format!

[2020-09-29 11:07] danedavid opened #258 "options distinguish git diff changes in Batman theme"
Hi, I'm using the Batman color preset with iTerm2 + zsh, and the diff color for git is the same for deletion & insertion:
![image](https://user-images.githubusercontent.com/19928280/94550755-e6b34380-0271-11eb-8467-84eff7637e6f.png)

This makes it kind of difficult to read the diff. Is there any way these colors can be customized?

[2020-09-29 15:48] tehaleph commented on #258
Yellow for "red" and "green" in this theme looks like the main idea.

My suggestion is to customize colors in git. To do this, you can use the following command (or write into .gitconfig). You can use any hex or ANSI 256 color values:

`git config --global color.diff.new "#FFC0EB"`

Before:
![CleanShot 2020-09-29 at 18 39 05](https://user-images.githubusercontent.com/13217394/94581080-53830980-028

[2020-09-29 16:14] danedavid commented on #258
Worked! Thanks a bunch! Shouldn't have created this issue!

[2020-09-29 16:14] #258 closed

[2020-09-29 20:37] mbadolato commented on #258
Also take a look at [diff-so-fancy](https://github.com/so-fancy/diff-so-fancy) I have my git configured to use it by default, and it allows you to customize the colors as well as being a better to read format

From my `~/.gitconfig`:

in the `[core]` section:
```pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less```

in the `[pager]` esction:
[code]

[2020-10-16 13:52] jhochwald commented on #248
@pmunin, this might not be perfect, but this is my Schema

[code]

[2021-01-20 03:52] jav-12 opened #268 "Running import scheme scripts throws an error"
I downloaded the repo and tried to follow the wiki to install all schemes:

[code]

I got a syntax error

[2021-01-23 20:22] mbadolato commented on #268
Interesting. What system are you on? I just ran it and it worked fine. Note, I have never used this script before (it was a contribution), but it worked just fine. MacOS running ZSH

<img width="773" alt="Screen Shot 2021-01-23 at 1 21 38 PM" src="https://user-images.githubusercontent.com/164615/105613152-11c02680-5d7e-11eb-83bf-fe5cc963bbdc.png">

[2021-01-24 04:54] HoYoung1 commented on #268
Same issue, it doesn't work.  (MacOS running ZSH)

![image](https://user-images.githubusercontent.com/35159888/105621512-81501780-5e4b-11eb-8520-f37170e31a0e.png)

[2021-01-27 13:59] jav-12 commented on #268
MacOs BigSur running Zsh with oh-my-zsh

[2021-01-27 22:15] colintsteele commented on #268
![image](https://user-images.githubusercontent.com/12700471/106061266-2cb6d180-60c3-11eb-95d7-cffa9cced73a.png)
Same issue. MacOS Big Sur on ZSH

[2021-01-27 23:05] mbadolato commented on #268
@XuehaiPan This was the script you submitted. Any thoughts?

[2021-01-28 00:37] XuehaiPan commented on #268
The old version of `Bash` might not support `heredocs` well. I will fix it right away.

[2021-01-28 22:07] #268 closed

[2021-01-28 22:08] mbadolato commented on #268
@XuehaiPan Thanks for jumping on that so quickly

@HoYoung1 and @colintsteele Does this fix for you?

[2021-01-30 07:28] HoYoung1 commented on #268
@mbadolato @XuehaiPan
Thanks, It works well.

[2021-02-16 10:53] levirs565 opened #273 "Gruvbox Light Cursor's Foreground Color is equal with Cursor's Background"
Gruvbox Light Cusor Foreground Color is equal with Background Color. This make cursor is black and text is hidden.

https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/xrdb/Gruvbox%20Light.xrdb

[code]

https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/wezterm/Gruvbox%20Light.toml

[code]

Cursor Foreground Color musr invert of Backgroun Color. I use `#fbf1c7` for Cursor's Fo

[2021-02-22 17:31] mbadolato commented on #273
Can you submit a PR with the proposed changes?

[2021-03-03 04:53] mbadolato opened #285 "The update_all.py script appears to be broken"
I and several users have noted that running `update_all.py` in the `tools/` directory is not generating any files, even when there are new schemes added

[2021-03-03 04:54] mbadolato commented on #285
Python 3.9.2

[2021-03-03 04:56] mbadolato commented on #285
Python 2.7 giving an error:

[code]

[2021-03-09 10:20] tastyminerals opened #286 "iTerm2 does not apply imported color schemes."
Built-in schemes are applied correctly. However, whenever I try to select one of the imported color schemes nothing happens and the currently selected scheme checkmark stays on the first imported scheme no matter what I do.

This is probably an iTerm2 issue but I can't find where to post iTerm2 related issues :(

[2021-03-19 12:25] tastyminerals commented on #286
Used incorrect scheme file.

[2021-03-19 12:25] #286 closed

[2021-04-02 16:18] tzohpilotl opened #292 "URLs with spaces are wrong"
I noticed the URL for "Belafonte Day" is https://raw.githubusercontent.com/mbadolato/iTerm2-Color-Schemes/master/schemes/Belafonte+Day.itermcolors when I click on the site, but when I navigate manually to the code it is https://raw.githubusercontent.com/mbadolato/iTerm2-Color-Schemes/master/schemes/Belafonte%20Day.itermcolors

[2021-06-04 20:57] jdhmtl commented on #198
Looks like this may have been resolved in #211

[2021-06-05 17:00] rakuco commented on #198
Only partially. I'm fixing the rest in #299.

[2021-06-07 16:21] #198 closed

[2021-06-10 13:55] jdhmtl commented on #78
This no longer appears to be an issue.

[2021-06-10 21:21] mbadolato commented on #78
It looks like it still is an issue; down in the Credits page (which is in the `gh-pages` branch and not the `README` file on `master`

[2021-06-11 18:55] pratikmullick opened #305 "iterm2terminal.swift script issue"
[code]

When trying to use the `iterm2terminal.swift` script in macOS BigSur, the aforementioned error message is popping up.

[2021-06-12 12:31] jdhmtl opened #307 "VS Code and Windows Terminal converters are identical"
[code]

It appears that `xrdb2vscode.py` is a copy of `xrdb2windowsterminal.py`. Additionally, `xrdb2vscode.py` is not currently being called from `update_all.py`

[2021-06-12 12:34] jdhmtl commented on #307
Happy to work on this, even if it's as a temporary fix. Looks like #256 has a more robust solution implemented, though.

[2021-06-12 14:44] jdhmtl opened #308 "Screenshots README generated out of order"
When running `tools/genMD.py`, the resultant file lists the screenshots in random order.

[code]

I have a fix for it, but want to make sure it's not just affecting me.

[2021-06-13 15:53] mbadolato commented on #305
Hmmm.

I don't speak much Swift so won't be able to debug that one. I'll have to see if I can find the original author in the closed PRs and ping them perhaps

[2021-06-13 15:54] #165 closed

[2021-06-13 15:56] #308 closed

[2021-06-14 21:02] jdhmtl commented on #78
With #301 merged, this can now be closed

[2021-06-14 21:05] jdhmtl commented on #285
Pretty sure type hinting was introduced in 3.5, so it's no surprise the above breaks in 2.7.

Are there additional details around what breaks?

I have noticed that PyYAML is required, though there's no `requirements.txt` to hold dependencies for tooling. With that installed, everything has been working fine for me.

[2021-06-15 00:57] #78 closed

[2021-06-15 00:57] #273 closed

[2021-06-15 17:31] jdhmtl commented on #240
I think this was fixed in #280

[2021-06-17 18:35] #240 closed

[2021-06-19 01:01] #307 closed

[2021-06-21 19:18] #242 closed

[2021-06-21 20:39] jdhmtl opened #319 "Tilda conversion missing from update script"
While there exists a script to convert iTerm2 color schemes to Tilda format, this script is not called from the `update_all.py` script. Consider creating a wrapper script that could be called from `update_all.py` to eliminate the need to call (and _remember_ to call) `iterm2tilda.py` manually.

[2021-06-26 20:06] jdhmtl commented on #305
What do you think about converting this to Python, @mbadolato? Keep all the tools in one language as much as possible. Happy to take a stab at that conversion.

[2021-06-27 18:37] jdhmtl commented on #121
I'm guessing the themes in https://github.com/Mayccoll/Gogh are in the correct format. I don't use Linux via DE anywhere, so can't be certain. If they _are_ correct, creating a conversion script should be trivial. I'd be happy to do it.

[2021-06-28 19:16] #319 closed

[2021-06-28 19:17] mbadolato commented on #305
That works for me. I've thought about moving to a different language altogether since I don't speak much python, but I have no time/inclination for that now anyway. Having them in one consistent language (regardless of which one) is beneficial

[2021-06-28 19:20] #292 closed

[2021-06-28 19:21] mbadolato commented on #285
I tried with PyYAML installed and saw no diff but I didn't try in 2.x and 3.x so maybe that helps

[2021-06-29 07:19] pratikmullick commented on #305
@jdhmtl I can also pitch in with Python conversion. Let me take a deeper look at the script.

[2021-07-09 14:56] jdhmtl commented on #121
Looking at this more closely, it would appear that the [themes listed in Gogh](https://github.com/Mayccoll/Gogh/tree/master/themes) are the color definitions, but that most of the work actually happens in [`apply_colors.sh`](https://github.com/Mayccoll/Gogh/blob/master/apply-colors.sh). Given that, and given that there is considerable overlap in the themes available in this repo and Gogh, I'm not

[2021-08-16 22:34] tracker1 opened #331 "Feature: DOS Color Scheme"
Would be nice to have a color scheme that matches the classic DOS default color scheme including proper brown.

https://en.wikipedia.org/wiki/Color_Graphics_Adapter

[2021-08-17 20:49] lukasz-m-maciejewski opened #332 "Gruvbox (Light and Dark) color values seem to be off"
Assuming this are the reference values: https://github.com/morhetz/gruvbox
Literally none of the color values match the original palette.

[2021-08-18 23:20] mbadolato commented on #331
If you'd like to submit it in .itermcolors format, I'd be happy to include it!

[2021-08-27 15:35] rwmitchell opened #333 "Suggestion for screenshots"
Recently came across
[code]
The two rows of color boxes at the top of each screenshot is really helpful (to me) for determining scheme I'm likely to like.  It is much easier to differentiate near colors and which ones repeat and/or use the same color for bold and normal.

[2021-08-27 23:14] lukasz-m-maciejewski commented on #332
Alright, if it's by design then so be it.

[2021-08-27 23:14] #332 closed

[2021-08-28 12:50] pratikmullick commented on #305
Please move forward. I am unable to convert the XML structure into something that I can use in Python (Python dict structure preferably).

[2021-09-10 20:00] #305 closed

[2021-09-13 23:48] mbadolato commented on #333
That's pretty nice, but would be a lot of effort to replace all of the current screenshots. Unless it could be automated somehow

[2021-09-14 16:33] jdhmtl opened #339 "README Cleanup"
Currently, the screenshots are being referenced in three places -- the main `README`, `screenshots/README`, and the `gh-pages` branch. This leads to both duplication and inconsistency. Leaving aside the GitHub Pages issue for the moment, what are your thoughts on removing screenshots from the README and instead linking from that file to `screenshots/README`, which can easily be updated programmati

[2021-09-14 16:38] jdhmtl opened #340 "Pull Request Templates?"
Is there value in creating a [pull request template](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository) to provide users a checklist of things required for submitting -- run `update_all.py`, include screenshot, update credits, etc -- which may not be immediately obvious?

[2021-09-14 18:39] mbadolato commented on #339
A linked credits file instead of the main README would be fine, and quite useful.

For the screenshots, I prefer to keep them in the README so that they show up on the main GH page when someone views it, though I guess a prominent link at the very top would alleviate that I guess. But, I also think that having the names with the screenshots on the main page is better for SEO, though that's just a

[2021-09-14 18:40] mbadolato commented on #340
Sure!

[2021-09-14 19:42] jdhmtl commented on #339
That's fair. I hadn't really considered SEO, and I don't know a ton about how that works under the hood. Happy to make the credits changes, though.

[2021-09-15 23:55] tracker1 commented on #331
@mbadolato will look into it if @jdhmtl doesn't get it first... I'm not really familiar with the .itermcolors format.

@jdhmtl yes, that looks about right...

[2021-09-16 01:38] jdhmtl commented on #331
I’ve got that saved in a branch in my fork. Wanted to make sure this was what you were looking for before moving forward. All that’s left really is to run the update script to create the other formats. Should be able to have this ready tomorrow.

[2021-09-16 23:03] #331 closed

[2021-09-20 13:20] jdhmtl commented on #339
Closed by #343

[2021-09-20 13:20] #339 closed

[2021-09-24 21:17] #340 closed

[2021-09-29 20:36] jdhmtl commented on #333
I'll echo what @rwmitchell said; seeing the text colours against the background color is generally more useful _to me_ than the screenshots themselves.

I'm sure it could be automated easily enough. We're already running a number of transforms when we run `update_all`, which retrieve the hex values for the colours. Similar to what Gogh has done, we could store these in JSON within the repo and hav

[2021-09-29 21:41] mbadolato commented on #333
Sure!

[2021-11-29 04:47] timkgh commented on #121
There's also this repo that supports multiple terminals:
https://github.com/lemnos/theme.sh

[2021-12-13 03:10] IlanCosman opened #349 "Builtin themes out of date"
A number of the builtin themes seem to be out of date.

For example, `builtin dark` theme in iterm2 has it's red set to `c91b00`, but that hex value does not appear anywhere in the `builtin dark` theme in this repository.

https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/xfce4terminal/colorschemes/Builtin%20Dark.theme:
[code]

[2021-12-14 03:16] mbadolato commented on #349
It could be something with the translation scripts since they all use different formats. The conversions are done from the iterm version (which doesn't have hex values per se) to xrdb then a lot of the converters use though. It could be slight differences in formats etc.

The question is, does the xfce version you're referencing resemble the iterm version when each is in it's respective terminal?

[2021-12-14 04:07] IlanCosman commented on #349
It's close, but independent color-picker `gcolor2` shows that xfce terminal is in fact, displaying the hexes it says it is.

Independent color-picker `digital color meter` on macos, in sRGB color space, shows that iterm2 is also displaying the colors it says it is..

I think we can conclude therefore, that there is a problem somewhere in the pipeline. Not a major one though, the colors are quite s

[2021-12-14 18:10] mbadolato commented on #349
Interesting. Unfortunately, unless someone more knowledgeable than I is able to troubleshoot the conversion scripts, there's not a whole lot I can do. The conversion scripts are all user-provided by others and not my own product. And most are in Python I believe, which I don't speak well enough

[2021-12-16 05:20] IlanCosman commented on #349
Oh, no, I was too quick to jump to conclusions Your scripts are faithfully recreating the iterm2 specifications, it's that iterm2 doesn't do the same.

For example, the iterm2 specification for `Dark Background` can be found here: https://gitlab.com/gnachman/iterm2/-/blob/master/plists/ColorPresets.plist#L2993-3202

And it specifies colors that don't exist in the actual palette. For example:
[code

[2021-12-21 17:41] IlanCosman commented on #349
@gnachman Sorry to ping, but could you shed any light on the above? 😄

[2022-01-15 19:53] roblatour opened #350 "contribution ...."
thanks for posting all this...

Here is a contribution for Windows Terminal, looks great with font 'Consolas'

      {
            "background": "#000000",
            "black": "#13A10E",
            "blue": "#13A10E",
            "brightBlack": "#16BA10",
            "brightBlue": "#16BA10",
            "brightCyan": "#16BA10",
            "brightGreen": "#16C60C",
            "brightPurple": "#1

[2022-01-15 22:28] mbadolato commented on #350
Hi, thanks! I do need it provided in itermcolors format though, which is then used as the basis to create the other versions. Any chance you could provide that? I have no way currently to convert from another format to the others. It would also need a screenshot, credits, etc (per the Contirbuting doc)

[2022-01-15 22:48] roblatour commented on #350
Hi, it looks like you need a Mac to create something in the itermcolors format, something sadly I don't have.

I posted here because of the link from https://windowsterminalthemes.dev/ which does say to use the itermcolors format, but again no Mac for me so I gave it a try with what I had.

Thanks all the same.

[2022-01-16 02:42] mbadolato commented on #350
Much appreciated; maybe someone here will look at the color defs and put together a PR with the iterm format

[2022-01-24 08:17] Eddie-717314-Huang opened #351 "vscode iterm2 color scheme display error"
hey guys, I really like the "Arthur" color schemes,
I've already set it to the iTerm2, and it looks really nice.
But when I open vscode(I've just started learning code), as I change the default terminal to iTerm2, the color schemes seems didn't sync. how do I fix it?

[2022-01-24 08:23] Eddie-717314-Huang commented on #351
sorry, my bad, I found the answer:

- go to vscode https://github.com/mbadolato/iTerm2-Color-Schemes/tree/master/vscode

- find your favorite color schemes

- copy the text

- opern vscode setting.json
- paste the text
- save it and restart terminal in vscode

Done.

[2022-01-24 08:23] #351 closed

[2022-01-28 19:31] jdhmtl commented on #350
Haven't been around much of late, but I'm happy to take care of this.

[2022-01-28 19:46] jdhmtl commented on #350
Looks like there are only two colours in this scheme. Does this image look more or less correct, @roblatour?

<img width="640" alt="Retro" src="https://user-images.githubusercontent.com/3738327/151611600-0c37dd52-3eb9-4549-8e25-92822108ed6d.png">

[2022-01-28 21:51] roblatour commented on #350
Hi John,

Yes - that's exactly it, and why I named it 'Retro'.

It harks back to the days when certain terminals would only have green characters.  They were surprising easy on the eyes for working with over long periods.

The highlighting of selected text, something you couldn't do back in the day, is however not worth passing on and I was glad to see it could be supported.

Here is what I mean:

[2022-01-28 22:04] roblatour commented on #350
Hi John,

Yes - that's exactly it, and why I named it 'Retro'.

It harks back to the days when certain terminals would only have green characters.  They were surprising easy on the eyes for working with over long periods.

The highlighting of selected text, something you couldn't do back in the day, is however not worth passing on and I was glad to see it could be supported.

Here is what I mean:

[2022-01-28 22:04] #350 closed

[2022-02-03 18:15] roblatour commented on #350
thank you

[2022-02-10 03:49] reportaman opened #354 "Inconsistency in the color reproduction"
I liked the Ubuntu theme of iTerm2, and thought to use it elsewhere. To my surprise the color turned out to be darker than the one that iTerm2 used. To remove the discrepancy that could be caused by the way different terminals could be rendering colors, I tried the hex value of background from windowsterminal directory's Ubuntu.json in a different pane of iTerm2. As can be seen in the image below,

[2022-02-10 14:37] jdhmtl commented on #354
Interesting. I loaded up the Ubuntu theme in iTerm and got `#300a24` for the background colour, as expected from the decimal values in the definition.
<img width="1027" alt="Screen Shot 2022-02-10 at 9 20 44 AM" src="https://user-images.githubusercontent.com/3738327/153429936-ff56cb9d-66a2-4f30-976f-d372a8f02db0.png">

[2022-02-11 01:36] gnachman commented on #349
If I understand correctly the problem is that when you use the `bulitin dark` theme from this repo it doesn't indicate that the "Dark Background" color preset is selected in the prefs UI.

I don't know how https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/xfce4terminal/colorschemes/Builtin%20Dark.theme gets turned into an iTerm2-compatible file, but if it exactly matches the color pres

[2022-02-11 17:15] mbadolato commented on #349
It doesn't. Other way around. One or two of the converters convert originally from the .itermcolors file, then the rest base off of one of those converted files (xrdb I believe but would have to check)

[2022-02-11 19:40] reportaman commented on #354
@jdhmtl Its the same with other color schemes... I tried Adventure Time, and that is different too... In the image below the lighter colors are of colorschemes in iterm2, and darker ones are from the windowsterminal directory.

<img width="654" alt="Screen Shot 2022-02-11 at 11 38 01 AM" src="https://user-images.githubusercontent.com/71736629/153658340-660be760-c157-4004-8004-4972b3ced9d8.png">

[2022-02-11 19:43] reportaman commented on #354
@gnachman Not sure what is going on, if its a bug, I would want this bug to continue :) Is there a way to export a colorscheme to json? That would be great.

[2022-02-14 04:19] imchriscaro opened #355 "How to change the font color in the title of iTerm 2?"
<img width="1264" alt="QKy5i" src="https://user-images.githubusercontent.com/74562554/153799315-c82d9865-6d08-47aa-92f4-306813f61eb0.png">
Does anyone know how to change the font color in the title of iTerm 2 from grey to white? I've been trying to make this change for more than a week but was unsuccessful in all of my efforts. I suspect that exporting your profile as a .json might help, but whene

[2022-02-14 20:58] mbadolato commented on #355
That isn't part of the theming, that's part of the iterm application itself. I suspect that is not configurable but it's possible it's available somewhere in the application's settings area

[2022-02-14 20:58] #355 closed

[2022-02-28 00:36] gnachman commented on #349
Because no colorspace is given, that is interpreted in the "calibrated" rgb colorspace, which is device-specific. At the AppKit level, colors are in 0…1, not 0…255, so that is the native representation at the app level. Internally, macOS will apply gamma correction and give it to the GPU in whatever format it uses (so 0…255 is irrelevant, as it's either going to be floating point or 16 bit or what

[2022-02-28 00:39] gnachman commented on #349
And here's Digital Color Meter set to sRGB:

<img width="673" alt="Screen Shot 2022-02-27 at 4 37 55 PM" src="https://user-images.githubusercontent.com/427546/155907178-e37e6629-3dbf-4d9c-8bba-fd9cd0edc887.png">

Dividing 180, 61, 42 by 255 gives 0.70, 0.23, 0.16 which is (within the margin of rounding error) what we had in the xml file I quoted above.

[2022-03-13 18:21] IlanCosman commented on #354
Oh yah, sorry, forgot to change my issue's title 😅 I think this is the same issue as https://github.com/mbadolato/iTerm2-Color-Schemes/issues/349. It has to do with color spaces.

[2022-03-15 23:04] gnachman commented on #354
You need to set a colorspace in your preset, otherwise the actual color will be device-dependent.
Example:
[code]

[2022-04-20 02:16] CockyCat opened #360 "Just only background color on MacOS M1's terminal"
I double click to install cheme and set default, but just only single color that is background. What's wrong?
BTW: My device is MacOS M1 CPU

[2022-04-20 02:25] CockyCat commented on #360
https://github.com/mbadolato/iTerm2-Color-Schemes/issues/81#issuecomment-256610234

seem like working well.

[2022-05-01 17:21] wenmang opened #361 "all electerm config has no terminal:brightBlue"

[2022-05-01 17:24] wenmang commented on #361
config in this ：

[code]
config in origin：

[code]

[2022-05-02 18:36] #360 closed

[2022-06-08 21:32] thomascft commented on #285
I'm having a similar issue. I'm on Arch Linux trying to convert some of [these](https://github.com/folke/tokyonight.nvim/tree/main/extras). This is what Python exits on:
[code]

[2022-06-08 22:30] mbadolato commented on #285
@thomascft It may be missing some plugins?

I just went into the tools directory, ran `python3 update_all.py` and it ran completely, and updated a few files that needed it

[code]

[code]

[2022-06-08 23:00] thomascft commented on #285
Very Possible, what exactly do I need to install?

[2022-06-14 04:52] thomascft commented on #285
@mbadolato, what plugins do I need to install for all the scripts to work?

[2022-06-14 19:58] mbadolato commented on #285
@thomascft I don't know. The script was a contribution and I apparently have the plugins on my system but I don't know offhand.  If you look at the script you can see what libraries it's importing and trying installing one-by-one perhaps?

[2022-06-14 22:25] thomascft commented on #285
So... it spat this out and I ignored it cause  sometimes I see this stuff with other programs.
`./iterm2xrdb:12:in `scan': invalid byte sequence in US-ASCII (ArgumentError)
        from ./iterm2xrdb:12:in `<main>'` Setting `LANG=en_US.UTF-8` fixed it. The odd thing is that my locale is set to that.

[2022-06-22 16:38] gravndal opened #370 "Wezterm: Gruvbox Light colour scheme has inverted normal and bright colours"
https://github.com/mbadolato/iTerm2-Color-Schemes/blob/82b69713bd2de4c0b62124f927c53df708b2a0c5/wezterm/Gruvbox%20Light.toml#L11-L12

The non-white ansi/brights colours are inverted when compared to the original vim colorscheme: https://github.com/morhetz/gruvbox.

Direct link to image showing original light palette: https://camo.githubusercontent.com/d080d9c204408ef06b862b76bc795f930b3a9b1be4c5d2

[2022-06-23 15:10] uncomfyhalomacro commented on #370
Same problem with other color schemes. Colors do not reflect the hex values.

[2022-07-09 07:15] FranklinYu opened #372 "double-mode themes"
Latest iTerm2 support double-mode themes, where one theme consists of light and dark variants. iTerm2 comes with 3 of such themes. Attached a “Regular” theme: [theme.tar.gz](https://github.com/mbadolato/iTerm2-Color-Schemes/files/9076042/theme.tar.gz)

We already have quite a few pairs of themes, such as 3024 Day/Night, and Bluloco Dark/Light.

[2022-07-15 04:09] pbnj opened #373 "Support cool-retro-term themes"
[cool-retro-term][] is a retro terminal emulator.

It supports custom themes via JSON files, like so:

[code]

Many of these properties (e.g. `jitter`, `ambientLight`, `rasterization`, `bloom`, `burnIn`, ...etc) are likely not relevant and could possibly be left out. The ones that are relevant are `backgroundColor`, `fontColor`, and `name`, which makes it relatively easy to support.

More example

[2022-07-20 11:55] jorgeyanesdiez opened #375 "Regression of PR#358"
Exactly the same problem fixed by PR#358 has happened again. And the same fix applies again.
Simply rebasing the commit and merging it again will fix the issue but, clearly it's not a long term solution.
Can we do something as suggested by @wez ? Is `tools/update_all.py` the correct location for a possible check/fix?

[2022-07-20 19:58] sayeefm0 opened #376 "Question: How is the website generated?"
I recently added a theme (`Wilmersdorf`) and noticed that the https://iterm2colorschemes.com website is not automatically updated. Ideally this repo would have an actions workflow to update the website on push - can someone point me to how the website is generated so I can try my hand at that?

Thanks!

[2022-07-22 21:41] mbadolato commented on #376
That's not an auto-generated size and TBH I've forgotten about generating it for quite some time

There's a genHTML script in the /tools directory that can generate the blocks, which then need to replace the current HTML blocks.  The website's data is in index.html, on the `gh-pages` branch (That branch is specifically for the site, and has files different than the main branch)

[2022-07-22 21:46] mbadolato commented on #376
I just pushed an update; it should show soon

[2022-07-22 21:47] #376 closed

[2022-07-27 01:50] mbadolato commented on #375
I haven't looked. It's either the update_all script, or the individual convert scripts may need to be told not to change the names to lowercase etc

[2022-08-02 08:14] Confucian-e opened #378 "Ayu Mirage Theme Error"
It shows 404 when I open [Ayu Mirage](https://raw.githubusercontent.com/mbadolato/iTerm2-Color-Schemes/master/schemes/Ayu+Mirage.itermcolors)
how can I download Ayu Mirage theme?

[2022-08-02 10:10] pcolladosoto commented on #378
Hi @Confucian-e! The link seems to be down at the moment... You can nevertheless download the theme over at:

https://raw.githubusercontent.com/mbadolato/iTerm2-Color-Schemes/master/schemes/Ayu%20Mirage.itermcolors

You can also take a look at the 'rendered' file over [here](https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/schemes/Ayu%20Mirage.itermcolors).

In any case, it looks like

[2022-08-02 11:16] Confucian-e commented on #378
Thank you guy!

[2022-08-02 11:16] #378 closed

[2022-08-05 23:55] jdhmtl commented on #333
Took me forever to find the time to actually work on this, but here's a [proof of concept](https://jdhmtl.github.io/theme-display/). I can add a little polish if this looks worth having.

[2022-08-06 13:35] jdhmtl commented on #375
The files that standout from #357 appear to be `matrix`, `darkmatrix`, and `darkermatrix`. These are all lower case in the `schemes` directory, which I believe to be the source of truth. That being so, wouldn't the capitalized copies in the `alacritty` and `vscode` directories be incorrect? Would deleting those make the problem go away? Conversion scripts appear to be respecting casing, best I can

[2022-08-07 17:23] jdhmtl commented on #373
At a glance, it appears to `cool-retro-term` seeks to emulate the look and feel of old monochrome displays. Do colour schemes even make sense in that context? Certainly, you'd lose nearly all the colours.

[2022-08-08 19:21] mbadolato commented on #333
Looks great!

[2022-08-08 19:22] #361 closed

[2022-08-10 20:05] #245 closed

[2022-08-15 18:50] ptere commented on #333
🤩 Stellar work @jdhmtl! Been looking for something like this for a long time.

[2022-08-15 19:00] antenore commented on #333
That's
A
W
E
S
O
M
E

[2022-08-26 20:50] alexeyten opened #383 "xfce4terminal schemes outputs to wrong folder"
New `tools/gen.py` outputs xfce4terminal files into folder `xfce4termnal/` instead of
`xfce4terminal/colorschemes/`

Is it intentional or just a bug?

[2022-08-26 20:55] alexeyten opened #384 "Source of truth?"
Old generator used `xrdb` as a source for all other schemes. New one uses `schemes` and there are some differences.

I've regenerated all files and see this diff:
[code]

[code]

Should we regenerate all files (and may be screenshots)?

[2022-08-29 07:42] yidoa opened #385 "是否支持密钥转发设置，如何设置呢"

[2022-08-29 13:48] mbadolato commented on #385
From Google Translate:

I'm not sure what that means?

[2022-08-31 14:47] alexeyten commented on #384
OK, `Blazer` and `Sublette` are just reordering fields (new generator sort them by name). So we should probably just regenerate and commit them.

But `wilmersdorf` was originally broken:

Foreground color is different in iterm and xrdb in original commit:

https://github.com/mbadolato/iTerm2-Color-Schemes/commit/c39f672025c185d2e721c73a3273bf5f203acca6#diff-0d03d4a95e437c508d007633cb060d26199580f0

[2022-08-31 14:48] alexeyten commented on #383
/cc @tehaleph

[2022-09-04 22:54] tehaleph commented on #383
Basically yes, it's a bug because I didn't make a way to use sub-folders in the new templates flow.

Judging by the documentation from xfce4-terminal, the sub-folder was made simply for the convenience of copying all themes into the terminal settings.

/cc @mbadolato @jdhmtl
Do we want to support this feature and make it possible to describe custom output path in templates. Or we can just regenera

[2022-09-08 17:43] kylehakala opened #389 "Schemas filenames with spaces are escaped improperly"
URIs for files that contain spaces are not escaped properly for use in HTML, rather for more server-side-esque usage. This causes URLs to be generated by genHTML with the + character used instead of %20, so the links are not functional.

[2022-09-15 17:29] mbadolato commented on #383
@tehaleph I'm all for either way, however, I lean more towards without subfolder. If the custom path isn't required, no need to add another layer

[2022-09-15 19:40] #384 closed

[2022-09-15 22:50] #383 closed

[2022-09-21 14:03] CodeMonkeyBrian opened #394 "New Theme - Apple Classic"
I want to submit a new theme that mimics the classic Apple II amber color. Not sure how to do that so I'm attaching it here.
[Classic Apple Dark Amber.itermcolors.zip](https://github.com/mbadolato/iTerm2-Color-Schemes/files/9617302/Classic.Apple.Dark.Amber.itermcolors.zip)

[2022-11-06 21:52] lrstanley opened #395 "suggesstion: generare svg color tables that can be embedded into readme"
I recently [created a Go library](https://github.com/lrstanley/bubbletint) that uses a large portion of the work done here, and windowsterminalthemes.dev/, for Go-based terminal applications. As part of that, I wanted a simple way of representing all of the color palettes/themes, so I essentially have my code-gen process also generate SVG's that have embedded HTML tables, with all of the colors, a

[2022-11-06 22:09] mbadolato commented on #395
Hey that's really cool! I may be able to make use of this sometime in the future!